<!-- computed.html -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <h2>남은 할 일</h2>
    <p>{{ restOfTodos }}</p>
    <p>{{ getRestOfTodos() }}</p>

    <h2>{{hasOpenTodos}}개 남음</h2>
    <ul v-if="hasOpenTodos!=0">
      <li v-for="todo in needTodos" :key="todo.id">
        {{todo.text}}
      </li>
    </ul>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const { createApp, ref, computed } = Vue

    const app = createApp({
      setup() {
        let id=0;
        const todos = ref([
          { id:++id, text: 'Vue 실습', isComplete:false },
          { id:++id, text: '자격증 공부', isComplete:false },
          { id:++id, text: 'TIL 작성', isComplete:true }
        ])

        const restOfTodos = computed(() => {
          return todos.value.length > 0 ? '아직 남았다' : '퇴근!'
        })

        const getRestOfTodos = function () {
          return todos.value.length > 0 ? '아직 남았다' : '퇴근!'
        }

        const needTodos = computed(()=>todos.value.filter(todo=>!todo.isComplete));
        const hasOpenTodos = computed(()=>needTodos.value.length);

        const a = ref(0)
        const abc = computed(() => {
          return a.value + 1
        })

        console.log(abc.value++)


        return {
          todos,
          restOfTodos,
          getRestOfTodos,
          needTodos,
          hasOpenTodos
        }
      }
    })

    app.mount('#app')
  </script>
</body>

</html>
