<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>dada's fashion shop</title>

		<style type="text/css">
			@import url("shop.css");
		</style>
	</head>
	<body>
		<div class="nav-bar"></div>
		<div id="app">
			<div class="product">
				<div class="product-image">
					<!-- 1. 상품 이미지 넣기-->
					<img :src="image" alt="초기이미지" />
				</div>

				<div class="product-info">
					<!--  2. 상품명 -->
					<div>{{product}}</div>

					<!-- 3. inStock 값에 따라 화면에 'In Stock' OR 'Out of Stock' 표시-->
					<div v-show="inStock">InStock</div>
					<div v-show="!inStock">Out of Stock</div>
					<br>
					<!-- 4. onSale 값에 따라 화면에 'On Sale!' 표시-->
					<div v-show="onSale">on Sale</div>
					<br>
					<!--  5. 상품설명 -->
					<div>{{description}}</div>
					<br>
					<!--  6. 상품 상세 설명 -->
					<ul>
						<li v-for="detail in details">{{detail}}</li>
					</ul>

					<!--  7. color-box -->
					<!-- <div v-for="option in options" style="display: inline-block;">
						<div :id="option.optionId" :style="`background-color: ${option.optionColor}; width:50px; height:50px; margin:5px`" @mouseover="change(option.optionImage)"></div>
					</div> -->
					<div v-for="option in options" 
					:style="`background-color: ${option.optionColor}; width:50px; height:50px; margin:5px; display:inline-block;`" 
					@mouseover="change(option.optionImage)"
					:key="optionId">
					</div>
					<hr />
					<!--  8. button event 처리  -->
					<button @click="add">Add</button>
					<button @click="remove">Remove</button>

					<div class="cart">
						<!-- 9.카트안의 상품 갯수 표시-->
						Cart({{cart}})
					</div>
				</div>
			</div>
		</div>
		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
		<script>
			//Create a new button and method to decrement the value of `cart`.
			const {createApp,ref,reactive} = Vue;
			const app = createApp({
				setup(){
					const product= ref("Dadas Blouse")
					const image= ref("./img/blueBlouse.jpg")
					const inStock =  ref(true)
					const max = ref(10) //재고수량
					const onSale = ref(true)
					const description = ref("올봄 잇아이템")

					const details = ref(["80% cotton", "20% polyester", "Gender-neutral"])
					const options = ref([
						{
							optionId: 2234,
							optionColor: "violet",
							optionImage: "./img/violetBlouse.jpg",
						},
						{
							optionId: 2235,
							optionColor: "blue",
							optionImage: "./img/blueBlouse.jpg",
						},
					])

					const cart = ref(0) //장바구니에 담은 상품 개수
					function add(){
						cart.value+=1
					}
					function remove(){
						cart.value-=1
					}
					function change(changeimage){
						image.value = changeimage;
					}
					return{
						product,image,inStock,max,onSale,description,details,options,cart,add,remove,change
					}
				}
			}).mount("#app")
			
		</script>
	</body>
</html>
