<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
        <h1>{{msg}}</h1>
        <h1>배열 데이터-books</h1>
        <ul>
            <li v-for="book in books">{{book}}</li>
        </ul>
        <hr>
        <h1>객체데이터-story</h1>
        <!-- <div>{{story.author}}</div><br>
        <div>{{story.title}}</div><br>
        <div>{{story.publisher}}</div><br> -->
            <ul>
                <li v-for="(value,key,index) in story">
                    {{index+1}}. {{key}} : {{value}}
                </li>
            </ul>
        <hr>
        <h1>배열 객체 데이터 - stories</h1>
        <ul>
            <li v-for="st in stories">
                <div>{{st.writer}}</div>
                <div>{{st.name}}</div>
            </li>
        </ul>
    </div>
    <script>
      const { createApp, ref,reactive } = Vue;
      const vm = createApp({
        setup() {
            const msg = ref("안녕 보보!!!")
            const books = ref(["햄릿", "콩쥐 팥쥐", "누가 내치즈를 옮겼을까"])
            const story= reactive({
                    author: "세익스피어",
                    title: "tempest",
                    publisher: "green house",
                })
            const stories = ref([
                    {
                        writer: "james lee",
                        name: "good job",
                    },
                    {
                        writer: "billy jones",
                        name: "how are you, today?",
                    },
                    {
                        writer: "david min",
                        name: "farewell to arms",
                    },
                ])
            return{
                msg,books,story,stories
            }
        },
      });

      vm.mount("#app");
    </script>
  </body>
</html>
